<div class="container">
  <div class="row">
    <div class="col">
      <h1>レシピ投稿</h1>
        <%= form_with model: @recipe, url: recipes_path, local: true do |f| %>
        <%= f.attachment_field :image %>
        <h1>レシピ名</h1>
        <%= f.text_field :name, class: "form-control" %>
        <% if @recipe_genres.present? %>
          <h4><%= radio_button_tag :flag, "existing_recipe_genres", checked: "checked" %> ジャンル</h4>
          <%= f.collection_select :recipe_genre_id, @recipe_genres, :id, :name, { prompt: "選択してください" } %>
          <h4><%= radio_button_tag :flag, "new_recipe_genre" %> 新規ジャンル</h4>
          <%= text_field_tag "recipe_genre_name", "", class: "form-control" %>
        <% else %>
          <h1>新規ジャンル</h1>
          <%= text_field_tag "recipe_genre_name", "", class: "form-control" %>
        <% end %>
        <h1>作り方</h1>
        <%= f.text_area :body, class: "form-control" %>
        </br><%= f.submit 'レシピを作成', class:"btn btn-primary" %>
        <% end %>
    </div>
  </div>
</div>

