<div class="container">
  <div class="row">
    <div class="col">
      <h1>食材追加</h1>
      <%= form_with model: @food_genre, url: food_genres_path, local: true do |f| %>
      <%= f.text_field :name, class: "form-control" %>
      <p>買い物リストにのせる</p>
      <div><%= f.radio_button :status, true, checked: true %>有効</div>
      <div><%= f.radio_button :status, false %>無効</div>
      </br><%= f.submit 'ジャンルを追加', class:"btn btn-primary" %>
      <% end %>
      <h1>食材一覧</h1>
      <% if @food_genres.present? %>
        <% @food_genres.each do |food_genre| %>
          <h3><%= food_genre.name %></h3>
          <%= link_to "名前を変更", edit_recipe_genre_path(recipe_genre) %>
        <% end %>
      <% else %>
        <h3>食材を追加してください。</h3>
      <% end %>
    </div>
  </div>
</div>